* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("bg.jpg") no-repeat center/cover;
}

header {
  min-height: 5em;
  background-color: #110c2a;
  display: flex;
  padding: 0 2em;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 740px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em 2em;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  min-width: 27em;
}

@media only screen and (max-width: 445px) {
  .logo {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0.5em 2em;
    font-size: 0.8em;
  }
}

.logo--image {
  height: 3.3em;
  width: 3.3em;
  margin-right: 1em;
  border-radius: 50%;
}

.score-board {
  display: flex;
  align-items: center;
  min-width: 14em;
  justify-content: space-between;
  margin-right: 1em;
}

.score-board--separator {
  background-color: #d047f7;
  padding: 2em 0.1em;
}

.score-board--score {
  color: #f1aaf8;
}

.score-board--best {
  color: #8343fe;
}

.gameboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgba(8, 0, 21, 0.8);
  /* opacity: 0.8; */
}

.level {
  text-align: center;
  color: #fdcc18;
  margin: 0.2em 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  opacity: unset;
}

.card {
  width: 140px;
  border: 3px solid white;
}

.card--image {
  width: 100%;
}

.card--image img {
  width: 100%;
}

.card-description {
  color: #ffffff;
  text-align: center;
  background-color: #110c2a;
  margin-top: -0.4em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
